@page "/map"
@using Tracker.Application.Common.Contracts.Services.CQRS
@using Tracker.Application.Features.Stops.GetAll.DTO
@using Tracker.Application.Features.Stops.GetAll.Query
@using Tracker.Domain.Common
@inject IDispatcher Dispatcher
<h3>Map</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        var result = await Dispatcher.QueryAsync<GetAllStopsQuery, Result<IEnumerable<GetAllStopResponse>>>(new GetAllStopsQuery());
    }
}