@page "/map"
@rendermode InteractiveServer
@using Tracker.Application.Common.Contracts.Services.CQRS
@using Tracker.Application.Features.Stops.GetAll.DTO
@using Tracker.Application.Features.Stops.GetAll.Query
@using Tracker.Domain.Common
@inject IDispatcher Dispatcher
@inject IJSRuntime JS

<div class="map-page">
    <div id="map" class="map-container"></div>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        var result = await Dispatcher.QueryAsync<GetAllStopsQuery, Result<IEnumerable<GetAllStopResponse>>>(new GetAllStopsQuery());
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
            return;

        try
        {
            await using var module = await JS.InvokeAsync<IJSObjectReference>("import", "/js/map-init.js");
            await module.InvokeVoidAsync("initLeafletMap");
        }
        catch (JSException ex)
        {
            Console.WriteLine($"Leaflet init failed: {ex.Message}");
        }
    }
}
